@import "~materialize-css/sass/components/_global";

body {
	font-family: 'open sans', sans-serif;
	font-size: 16px;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 0 auto;
}
